
.privacy-policy-content-container {
  padding: 0 5%;
}

.privacy-policy-content-container h1 {
  padding: 66px 0 16px;
  font-weight: 700;
}

.privacy-policy-content-container p, a {
  color: var(--secondary-color);
  line-height: 1.75rem;
  padding: 16px 0;
}

.privacy-policy-content-container span {
  display: block;
  color: var(--secondary-color);
  line-height: 1.75rem;
}

footer {
  margin-top: 124px;
}